.vs
appbox.Core/bin
appbox.Core/obj
appbox.Design/bin
appbox.Design/obj
appbox.Store/bin
appbox.Store/obj
appbox.Core.Tests/bin
appbox.Core.Tests/obj
appbox.Design.Tests/bin
appbox.Design.Tests/obj
appbox.Server/bin
appbox.Server/obj
appbox.Host/bin
appbox.Host/obj
appbox.ServiceContainer/bin
appbox.ServiceContainer/obj
appbox.AppContainer/bin
appbox.AppContainer/obj
appbox.Store.PostgreSQL/obj
appbox.Store.PostgreSQL/bin
appbox.Store.Tests/bin
appbox.Store.Tests/obj
bin
appbox.Store.Cassandra/obj
appbox.Client/obj
