<div class="align-center">
    <el-card>
        <div slot="header" style="text-align: center">AppBox运维管理</div>
        <el-input v-model="user" placeholder="Account..." prefix-icon="fas fa-user"> </el-input>
        <br>
        <br>
        <el-input v-model="pwd" type="password" placeholder="Password..." prefix-icon="fas fa-lock"> </el-input>
        <br>
        <br>
        <el-button @click="onLogin" type="primary" :loading="loading" style="width:100%">Login</el-button>
    </el-card>
</div>